/* import */
/* globals */
/* Reseto */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* variable */
/* partials*/
.img-spotify {
  width: 25px;
  height: 25px; }

.spotify {
  display: flex;
  justify-content: center; }

.previa2021 {
  width: 3.5rem;
  height: 2.5rem; }

.div__h3 {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  width: 100%;
  align-items: center; }

li a {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.sm-button {
  color: #fff;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease;
  line-height: 2.1em;
  border: 2px solid transparent;
  margin: auto 5px; }

.sm-button:hover {
  transform: rotate(360deg);
  background: #fff; }

.sm-button.instagram:hover, .sm-button.twitter:hover {
  border: 2px solid;
  background: white;
  color: #000000;
  border-color: #f8f8f8; }

.sm-button.instagram {
  background: #000000; }

.sm-button.instagram:hover {
  color: #000000;
  border-color: #ffffff; }

.sm-button.twitter {
  background: #000000; }

.sm-button.twitter:hover {
  color: #000000;
  border-color: #ffffff; }

.footer__text {
  color: #f2f2f2; }

.copr {
  margin-bottom: 10px;
  color: grey;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #d30172; }

.copr a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-style: 0.9rem bold;
  color: white; }

/* pages */
.div__playlist {
  width: 100%;
  height: 480px; }

.div__item {
  display: flex;
  justify-content: center;
  margin: 10px; }

.div__texto {
  text-align: center; }

body {
  background-color: black; }

.navbar-brand {
  margin-right: 30%; }

.nav-item {
  font-size: 16px;
  margin: 0 12px 0 12px;
  text-align: center; }

/* grid */
.top-moment {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px; }

.artistas-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5em;
  grid-template-areas: "ferpa biza alex";
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.article__artistas {
  width: 300px;
  height: 290px;
  display: flex;
  align-items: center; }

.img__top-artistas {
  width: 100%; }

.img__top-artistas:hover {
  transform: scale(1.1);
  transition: all 2s; }

.iframe-artista {
  display: flex;
  justify-content: center; }

.div__contenedor-texto {
  display: flex;
  align-items: center; }

.body__contacto {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #777;
  background-image: url(../media/carrusel/spoti.png);
  background-position: center;
  background-repeat: no-repeat; }

.container__form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif; }

#contact {
  background-color: rgba(65, 60, 60, 0.294118);
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

#contact h3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px; }

#contact h4 {
  display: flex;
  justify-content: center;
  margin: 5px 0 15px;
  font-size: 13px;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fbfbfbe7;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

.h1__dj {
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem; }

.main__contenedor-consola {
  width: max-content 1920px;
  height: auto; }

.main__img-consola {
  width: 100%; }

.div__item-artistas {
  justify-content: center; }

.div__cont-img {
  width: 200px;
  height: auto; }

.div__artistas {
  width: 100%;
  padding: 8px; }

.div__artistas:hover {
  transform: scale(1.1);
  transition: all 2s; }

.h2__dj {
  font-size: 1rem;
  text-align: center;
  margin-top: 3rem;
  color: rgba(255, 255, 255, 0.308); }

.h1__playlist {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.main__div-contenedor {
  width: max-content 1920px;
  height: auto; }

.div__item-img {
  width: 100%; }

.div__playlist-img {
  width: max-content 1920px;
  height: auto; }

.img__spotify-playlist {
  width: 100%; }

.div__texto-playlist {
  text-align: center;
  color: rgba(255, 255, 255, 0.308);
  padding: 20px; }

div p a {
  text-decoration: none;
  list-style-type: none;
  color: #bd3e4f98; }

div p a:hover {
  color: white; }

.body__novedades {
  background-image: url(../media/portfolio/auriculares.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center; }

.div__div-cont {
  margin: 48px 0px 48px 0px; }

.div__iframe {
  width: 400px;
  height: 350px;
  margin: 15px 0px 15px 0px; }

.iframe__item {
  width: 100%;
  height: 100%; }

.div__iframe-text {
  width: 400px;
  height: auto;
  margin: 15px 0px 15px 0px; }

/* media y keyframe */
/* RESPONSIVE */
