.img-spotify{
    width: 25px;
    height: 25px;
}
.spotify{
    display: flex;
    justify-content: center; 
}

.previa2021{
    width: 100%;
    height: 45px;
}
.div__h3{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
    width: 100%;
    align-items: center;
}

li a{
    font-family:"Roboto", Helvetica, Arial, sans-serif;
}