.body__404{
    background-color: black;
}

.section__404{
    width:max-content 1920px;
    height: auto;
    margin: 0rem 2rem 2rem 2rem;
}

.section__img-404{

    width: 100%;
}

.div__button-404{
    width: max-content 40px;
    height: auto;
    margin: 0rem 3rem 3rem 3rem;
    justify-content: center;
}

.button-404{
    width: 100%;
}