.h1__dj{
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.main__contenedor-consola{
    width:max-content 1920px;
    height: auto;
}

.main__img-consola{
    width: 100%;
}

.div__item-artistas{
    justify-content: center;
}

.div__cont-img{
    width: 200px;
    height: auto;
}

.div__artistas{
    width: 100%;
}

.div__artistas:hover{          
    transform: scale(1.1);
    transition: all 2s;
}

.h2__dj{
    font-size: 1rem;
    text-align: center;
    margin-top: 3rem;
    color: rgba(255, 255, 255, 0.308);
}